<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/bower_components/skeleton/css/normalize.css">
  <link rel="stylesheet" href="static/bower_components/skeleton/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <script src="static/bower_components/d3/d3.js"></script>
  <script src="static/bower_components/jquery/dist/jquery.js"></script>
  <script src="static/bower_components/underscore/underscore.js"></script>
  <script src="static/viz.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 15%">
        <h4>Tweet sentiment analyzer</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="one-half column">
        <textarea id="target" class="u-full-width" placeholder="Start writing..."></textarea>
      </div>
      <div id='visualization' class="one-half column">
        <svg width="400" height="400"></svg>
      </div>
    </div>
  </div>



<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
